
/*---------------------------------------------------------
     responsive for mobile display where max width 667px
----------------------------------------------------------- */
@media only screen and (max-width: 667px){

    /* menu bar  */
    .btn .check{
        display: block;
        font-size: xx-large;
        text-align: left;
    }
    .menu-items{
        position: absolute;
        width: 100%;
        left: 0px;
        top: 100px;
        visibility: hidden;
    }
    .menu-items ul {
        list-style: none;
        display: block;
        width: 100%;
        padding: 20px;
        background-color: blue;
    }
    .menu-items ul li {
        margin: 10px;
        font-size: 22px;
    }
    #yes:checked ~ .menu-items{
        visibility: visible;
    }
    /* menu bar end  */
    
    .cover, .players, .highlights, .latest-news{
        display: flex;
        flex-direction: column;
    }
    .cover-heading, .highlights-contain{
        margin-bottom: 50px;
    }
    footer img {
        position: static;
        width: 242px;
        height: 55px;
    }

}

/*---------------------------------------------------------
     responsive for mobile display where max width 668px
----------------------------------------------------------- */
@media only screen and (min-width: 668px) and (max-width: 991px){

    
    /* menu bar  */
    .btn .check{
        display: block;
        font-size: xx-large;
        text-align: left;
    }
    .menu-items{
        position: absolute;
        width: 100%;
        left: 0px;
        top: 100px;
        visibility: hidden;
    }
    .menu-items ul {
        list-style: none;
        display: block;
        width: 100%;
        padding: 20px;
        background-color: blue;
    }
    .menu-items ul li {
        margin: 10px;
        font-size: 22px;
    }
    #yes:checked ~ .menu-items{
        visibility: visible;
    }
    /* menu bar end  */

    
    .cover, .players, .highlights{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .latest-news{
        display: flex;
        flex-direction: column;
    }
    .cover h1 {
        font-size: 44px;
        line-height: 40px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .highlights h2{
        font-size: 28px;
        line-height: 30px;
    }
    .highlights img{
        height: 100%;
    }
    footer img {
        position: static;
        width: 242px;
        height: 55px;
    }
}