@media only screen and (max-width: 668px){

/* .menu-items{
    position: absolute;
    right: 0;
    top: 87px;
    visibility: hidden;
    background-color: white;
}
menu-items ul {
    list-style: none;
    display: block;
    padding: 0;
}
#yes:checked ~ .menu-items{
    visibility: visible;
} */


 .cover, .players, .highlights, .latest-news{
    display: flex;
    flex-direction: column;
}
.cover-heading, .highlights-contain{
    margin-bottom: 50px;
}






}