/* import font from google */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/*-------------------
    common styles
 --------------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}
p {
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}
.button{
    background-color: #E02C6D;
    padding: 10px 24px;
}
.button:hover{
    background-color: tomato;
}
.fab, .fas{
    padding: 0 3px;
}
/*-------------------
    header section 
 --------------------*/
header{
    background-color: #2D25A0;
    color: white;
    padding: 40px 12%;
}

/* header menu section */
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu-items ul {
    list-style: none;
    display: flex;
    padding: 0;
}
.menu-items ul li a{
    padding: 10px 25px 10px 0;
}
#yes, .check{
    display: none;
}

/* header cover section */
.cover {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 0;
}
.cover h1 {
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
    margin-bottom: 20px;
}
.cover:hover > .cover-img img{
    transform: rotate(360deg);
    transition: 5s;
}



/*-----------------
    main section 
 ------------------*/

 /* player list section */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 70px 12%;
}
.player {
    margin: 15px;
    padding: 15px;
    text-align: justify;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player h3 {
    font-size: 28px;
    line-height: 40px;
    margin: 16px 0 10px;
    color: #18191F;
}


/* Highlight copa America */
.highlights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
    padding: 70px 10%;
}
.highlights h2{
    font-size: 48px;
    line-height: 60px;
}

/* latest news section */
.news-list{
    margin: 70px 12%;
}
.news-list h2{
    font-size: 48px;
    line-height: 60px;
    text-align: center;
}
.latest-news{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
}
.news img{
    height: 100%;
    border-radius: 10px;
}
.news h4 {
    font-size: 18px;
    margin: 10px 0;
}


/* upcoming match */
.upcoming{
    padding: 70px 12%;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.upcoming h2{
    font-size: 48px;
    line-height: 60px;
}
table {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
}
th, td {
    padding: 10px;
    font-size: 20px;
}

/* -----------------
     footer section
-------------------- */
footer{
    text-align: center;
    margin: 70px 0;
}
footer img {
    position: static;
    width: 483.87px;
    height: 110px;
}
footer p a {
    color: gray;
    background-color: #ddd;
    border-radius: 15px;
    padding: 5px;
    margin: 0 5px;
}